@model CarrinhoCompraViewModel

<div class="container">
    <div class="row">
       

        <div>
             
            <h4><img src="~/Imagens/cart4.svg" alt="bootstrap" width="70" height="70" /> Seu carrinho de compras!</h4>
        </div>
        <table class="table-bordered table-striped" >
            <thead>
                <tr>
                    <th>Quantidade</th>
                    <th>Produto</th>
                    <th class="text-rigth">Preço</th>
                    <th class="text-rigth">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItems)
                {
                    <tr>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-left">@item.Produto.Nome</td>
                        <td class="text-rigth">@item.Produto.Preco.ToString("c")</td>
                        <td class="text-rigth">@((item.Quantidade*item.Produto.Preco).ToString("c"))</td>
                        <td class="text-center">
                            <a asp-controller="CarrinhoCompra" asp-action="RemoverDoCarrinhoCompra" asp-route-produtoId="@item.Produto.ProdutoId">
                                <img src="~/Imagens/delete.png">
                            </a>
                        </td>
                    </tr>
                    
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-rigth">Total:</td>
                    <td class="text-rigth">
                        @Model.CarrinhoCompraTotal.ToString("c");
                    </td>                    
                </tr>                
            </tfoot>
        </table>
       
        <div class="text-rigth">
            <div class="btn-group">                 
                <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
                <a class="btn btn-primary" asp-controller="Produto" asp-action="List">Continuar Comprando</a>
            </div>
        </div>


    </div>
</div>

